# pip install -r requirements.txt
numpy
scipy
# python-osc
opencv-python
# picamera
# cmake
# flask
# skyfield
# pytz
# RPi.GPIO
# smbus
# adafruit-pca9685 
# Adafruit-GPIO
# adafruit-extended-bus
# adafruit-circuitpython-ads1x15
# adafruit-circuitpython-mpu6050